@import "_reset.css";

:root {
  --dark-gray: #1f1534;
  --gray: #7d7987;
  --black: #000000;
  --white: #ffffff;
  --blue: #458ff6;
}
body {
  font-family: "Mulish", sans-serif;
  height: 100vh;
}

section {
  margin: 100px 0px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 1600px;
  margin: 0 auto;
  padding: 56px 180px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 160px;
  height: 40px;
}

.nav-items {
  display: flex;
}

.nav-items li a {
  font-size: 18px;
  line-height: 23px;
  color: var(--dark-gray);
  opacity: 0.5;
  margin: 0 20px;
}

.nav-items li a.active {
  font-weight: bold;
  opacity: 1;
}

.element {
  position: absolute;
  top: 160px;
  left: 0;
  width: 132px;
  height: 115px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 84px;
}

.hero-container .left {
  flex: 1;
  margin-right: 110px;
}

.hero-container .left h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: var(--black);
  margin-bottom: 25px;
  width: 430px;
}

.hero-container .left p {
  width: 449px;
  color: var(--gray);
  margin-bottom: 45px;
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
}

.btn {
  font-weight: bold;
  font-size: 18px;
  border-radius: 55px;
  padding: 15px 40px;
}

.btn-primary {
  background: var(--blue);
  color: var(--white);
}

/*  OUR SERVICES  */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 56px;
  color: var(--black);
  position: relative;
  margin-bottom: 60px;
}

.heading::after {
  content: "";
  width: 56px;
  height: 2px;
  background: var(--black);
  border-radius: 5px;

  position: absolute;
  top: 66px;
  left: 85px;
}

.subheading {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray);
  text-align: center;
  margin-bottom: 80px;
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 37px 34px;
  margin-bottom: 70px;
}

.service-card {
  width: 350px;
  height: 354px;
  background: var(--white);
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 40px;
}

.service-card img {
  margin-bottom: 23px;
}

.service-card h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
  color: var(--black);
  margin-bottom: 3px;
}

.service-card p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--gray);
}

.blob {
  position: absolute;
  left: -294px;
  bottom: 332px;
  z-index: -3;
}

.dots {
  position: absolute;
  right: 20px;
  top: 550px;
  z-index: -3;
}

.btn-outline-primary {
  border: 1.4px solid var(--blue);
  color: var(--blue);
}

/* Leading Healthcare Providers  */

.healthcare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.healthcare .left {
  flex: 1;
  margin-right: 137px;
  width: 650px;
  height: 477px;
}
.healthcare .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
}

.healthcare .right .subheading {
  text-align: left;
  margin-bottom: 38px;
}

.healthcare .heading::after {
  top: 126px;
  left: 0px;
}

/* FOOTER */

.footer-bg {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  padding: 100px 80px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_left {
  margin-right: 145px;
  width: 390px;
}

.footer_left img {
  margin-bottom: 17px;
}

.footer_left h5 {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 31px;
  color: var(--white);
}
.footer_left p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: var(--white);
}

.footer_right {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  margin: 0 55px;
}

.footer-nav h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: var(--white);
  margin-bottom: 2px;
}

.footer-nav ul li a {
  color: var(--white);
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}

/* Media Queries */

@media (max-width: 1630px) {
  .wrapper {
    text-align: center;
    padding: 6px 50px;

    max-width: 85%;
  }
}

@media (max-width: 1420px) {
  .wrapper {
    text-align: center;
    padding: 6px 10px;

    max-width: 75%;
  }

  .healthcare {
    flex-direction: column;
  }

  .healthcare .left {
    margin-bottom: 200px;
    margin-right: 0;
  }

  .service-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 37px 34px;
  }
  .footer {
    flex-direction: column;
  }
  .footer .footer_left {
    margin-bottom: 100px;
  }
}

@media (max-width: 1090px) {
  .header {
    flex-direction: column;
  }
  .logo {
    margin-bottom: 100px;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-container .left {
    margin-bottom: 100px;
    margin-right: 0;
  }
}

@media (max-width: 930px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }
  .service-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
  .service-card {
    width: 100%;
  }
}
